<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.calc.alcohol.appalyzer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Moja">
        <activity
            android:name=".Spol"
            android:theme="@style/Moja">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Kilaza" />
        <activity android:name=".Vrijeme" />
        <activity android:name=".Alkohol" />
        <activity android:name=".Rez" />
        <activity android:name=".Visina"></activity>
    </application>

</manifest>